/* Colores
celestito #79d5ff93
blanquito white
doradito gold
*/
*{
    margin: 0;
    padding: 0;
}
/* ------HEADER------ */

.collapse{
    flex-basis: auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.nav-link:hover{
    transform: scale(1.08);
}
.container-fluid{
border: gold 5px solid;     
background-color: #79d5ff93;
font-size: large;
padding: auto;
}
.navbar img{
height: 100px;
}
/* ------FOOTER------ */
.footer{
    background-color: #79d5ff93;
    color: rgb(214, 3, 3);
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Times New Roman', Times, serif, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif, Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     border-color: gold;
     border-style: solid;
}

.ul-footer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.ul-footer a{
    color: #292828;
}
.ul-footer li:hover{
    transform: scale(1.1);
}

h1{
    font-family: "bagnard";
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: lighter;
    font-size: xx-large;
}

li{
    list-style: none;
    font-size: 18px;
}
p{
    font-size: larger;
    font-weight: lighter;
    padding: 40px 300px 100px 300px;

}
/* ------INDEX------ */
@font-face {
    font-family: "bagnard";
    src: url(../recursos/Bagnard.otf);
}
.main-index{
    font-size: 20px;
    font-family: "bagnard";
    margin-bottom: 70px;
}
.main-index img{
    width: 600px;
    height: 450px;
    padding: 60px;
}
.index-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.index-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.index-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-index{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 40px;
    flex-wrap: wrap;
}
.index-1:hover{
    transform: scale(1.1);
    transition: 1s;
}
.index-2:hover{
    transform: scale(1.1);
    transition: 1s;
}
.index-3:hover{
    transform: scale(1.1);
    transition: 1s;
}
/* ------NOTICIAS------ */
.letra-noti{
    font-family: "bagnard";
}
.letra-noti a{
    color: black;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-top: 90px;
    padding-bottom: 70px;
}
.col-noti{
    display: flex;
    padding: 50px;
}
.col-noti:hover{
    transform: scale(1.2);
    transition: 1s;
}
.row img{
    height: 300px;
}
/* ------ACTUALIDAD------ */
.main-act{
    font-family: "bagnard";
}
.main-act img{
    width: 600px;
    height: 450px;
    padding: 60px;
}

.main-act h2{
    font-family: "bagnard";
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: lighter;

}
.main-act h5{
    font-size: x-large;
    text-align: center;

}
.main-act a button{
margin-left: 1780px;
margin-bottom: 10px;
width: 110px;
height: 50px;
background-color: rgb(24, 124, 255);
color: rgb(0, 0, 0);
border-radius: 15px;
}
.main-act a button:hover{
    transform: scale(1.1);
    transition: 0.4s;
    background-color: #292828;
    color: white;
}
.act-1-1{
    display: flex;
    align-items: center;
}
.act-1-1 img{
    height: 400px;
}
.act-1-2{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.act-1-3{
    display: flex;
    align-items: center;

}

.act-2-1{
    display: flex;
    align-items: center;
}
.act-2-2{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

/* ------HISTORIA------ */
.main-hist{
    font-family: "bagnard";
}
.main-hist h3{
    font-family: "bagnard";
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: lighter;
}
.main-hist h5{
    font-size: x-large;
    text-align: center;
}
.main-hist img{
    width: 600px;
    height: 450px;
    padding: 60px;
}
.main-hist a button{
    margin-left: 1780px;
    margin-bottom: 10px;
    width: 110px;
    height: 50px;
    background-color: rgb(24, 124, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    }
    .main-hist a button:hover{
        transform: scale(1.1);
        transition: 0.4s;
        background-color: #292828;
        color: white;
}

.hist-1{
    display: flex;
    align-items: center;
}
.hist-2-1{
    display: flex;
}
.hist-2-2{
    display: flex;
    flex-direction: row-reverse;
}

.hist-2-3{
    display: flex;
}

.hist-3-1{
    display: flex;
}

.hist-3-2{
    display: flex;
    flex-direction: row-reverse;
}

/* ------CONTACTO------ */
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-floating{
    text-align: center;
    width: 500px;
}

.direc-cont{
    text-align: center;
    font-family: "bagnard";
    margin-top: 30px;
}


input:hover{
    transform: scale(1.1);
}

.enviar{
width: 75px;
background-color:#a6e1fd93;
border: 1px solid rgba(88, 88, 88, 0.774);
}
.enviar:hover{
    transform: scale(1.1);
}

/* ------RESPONSIVE------ */
@media(max-width: 660px){
    .main-index img{
        width: 500px;
        height: auto;
        padding: 0;
    }
    .main-index div{
        padding-bottom: 60px;
    }

}

@media(max-width: 500px){
    .main-index img{
        width: 300px;
        height: auto;
        padding: 0;
    }
    .main-index h4{
        font-size: medium;
    }
}
@media(max-width: 540px){
    .form-floating{
        width: 300px;
    }
}
@media(max-width: 450px){
    .direc-cont iframe{
        width: 300px;
        height: 200px;
    }
}

@media(max-width: 991px){
    .navbar-toggler{
        justify-content: flex-end;
    }
}