@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Playfair+Display:wght@500&family=Rubik+Iso&family=Titillium+Web:wght@300&display=swap');

$celeste: #79d5ff93;
$negro:#353333;
$letra:'Playfair Display', serif;
$font-sizes: (xl:35px, l:30px, m:20px, s:10px, xs:5px);

@each $font, $value in $font-sizes{
    .font-#{$font}{
        font-size: $value;
    }
    
}